#leftside{
    position: relative;
    left: 0;
    margin-left: 120px;
    height: 1000px;
    padding-right: 2rem;
    width: 50%;
    float: left;
    border: solid blue 2px;
}

#rightside{
    position: relative;
    right: 0;
    margin-right: 120px;
    height: 100%;
    padding-top: 6rem;
    width: 25%;
    float:right;
    min-width: 10px;
    border: solid rgb(255, 0, 0) 2px;
}